/* Webfont: Auxhie-Regular */@font-face {
    font-family: 'Auxhie';
    src: local('Auxhie'), url('Auxhie-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


h1 {
    font-family: 'Auxhie';
    font-weight: 200;
    color: #f1f1f1;
    font-size: 90px;
    margin-bottom: 0%;
    margin-top: 15px;
}